@model List<RTTClientManagementApp.Models.Client>

<h2>Clients</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Gender</td>
            </tr>
        }
    </tbody>
</table>
