@model RTTClientManagementApp.Models.Client

<form asp-action="Add" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label>Gender</label>
        <input asp-for="Gender" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <button type="submit">Add Client</button>
</form>